
.info {margin: 20px;
		line-height: 30px;
		text-align: center;

}

h4 {text-align: center;}
h1 {text-align: center;}

.sozmed{ line-height: 30px;
		padding: 30px;
		margin-left: 60px;

		 }

.profpic{align-items: center;
		margin-left: 60px;}

section {

	background-color: grey;
		position:static;
    padding:0;
    margin:0;

    top:10;
    left:10;

    width: 20%;
    height: 100%;


}

aside{

	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
}


img {

	display: flex;

    justify-content: center; 
    align-items: center;

	border-radius: 100%;
	height: 150px;
	width:160px;



hr {
 margin-left: auto;
 margin-right: auto;
 margin-top: 1.25em;
 margin-bottom: 1.25em;
 
}